
<%- include("./partials/_header"); -%>

    <div class="container center">
        <div class="row">
           <div class="col-md-5 offset-md-3">
               <div class="card">
                   <div class="card-body">
                       <form action="/add" method="POST">
                           <div class="form-group">
                               <input type="text" name="solicitud" placeholder="SOLICITUD" class="form-control mb-2">
                           </div>
                           <div class="form-group">
                            <input type="text" name="descripcion" placeholder="DESCRIPCION" class="form-control mb-2">
                            </div>
                            <div class="form-group">
                                <input type="text" name="uso" placeholder="USO" class="form-control mb-2">
                            </div>
                            <div class="form-group mb-2">
                                <select name="estado" name="estado" id="">
                                    <option selected class="mb-2">ESTADO</option>
                                    <option value="SOLICITADO">SOLICITADO</option>
                                    <option value="RECIBIDO">RECIBIDO</option>
                                    
                                </select>
                            </div>
                            
                        <button type="submit" class="btn btn-primary btn-block mb-2">
                            Registrar
                        </button>
                       </form>
                   </div>
                </div>
            </div>     
    </div>
        <div class="container mt-5 offset-md-2"> 
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">SOLICITUD</th>
                            <th class="text-center">DESCRIPCION</th>
                            <th class="text-center">USO</th>
                            <th class="text-center">ESTADO</th>
                            <th class="text-center">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < tasks.length; i++) { %>
                            <tr>
                                
                                <td><%= tasks[i].solicitud %></td>
                                <td><%= tasks[i].descripcion %></td>
                                <td><%= tasks[i].uso %></td>
                                <td><%= tasks[i].estado %></td>
                                <td>
                                <a href="/turn/<%= tasks[i]._id %>" class="btn <%= tasks[i].status ? 'btn-success' : 'btn-dark' %>">Retirado</a>
                                <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger">Eliminar</a>
                                <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">Modificar</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>


                </table>
            </div>



        </div>




<%- include("./partials/_footer"); -%>